
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add your review below:</h1>
  <%= render 'form', restaurant: @restaurant, review: @review %> <!--render sends back to the broweser -->
    <br>
  <%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
</body>
</html>